<h1>ログインフォーム</h1>
<form action="/login" method="post">
  メールアドレス: <input name="email" type="email"/> <br>
  パスワード: <input name="password" type="password"/> <br>
  <input name="submit_name" type="submit" value="送信">
</form>